@model Store.Web.Areas.Admin.ViewModels.Product.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Store Product List</h2>

<p class="text-right">
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary"})
</p>
<hr />
<div class="container">
    <div  class="row">
        <div class="col-md-4">
            @Html.DropDownList("MainCategory",new SelectList(Model.ProductCategory, "CategoryId", "CategoryName","Select Main Category"), new { @class = "form-control" })
            
        </div>
        <div class="col-md-4">
            <select id="SubCategory" class="form-control"></select>
        </div>
        <div class="col-md-4">
            <select id="ChildCategory" class="form-control"></select>

        </div>

    </div>

    <hr />

    <div class="row">
      <table class="table table-striped">
          <tr>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Stock</th>
              <th></th>
          </tr>
          <tbody id="ProductBody">
              
          </tbody>
      </table>
    </div>

</div>
@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")
<script src="~/Areas/Admin/ViewScripts/Products/IndexViewScript.js"></script>
  }



